<div ng-controller="viewController">
<h3>Notorious B.I.G. - "Notorious Thugs"</h3>
<p>Armed and dangerous, ain't too many can bang with us</p>
<p>Straight up {{plant}}, no {{drysub}}, label us "Notorious"</p>
<p>Thug {{adjective}} {{pluralnoun}} that love to bust, it's strange to us</p>
<p>Y'all {{pluralnoun2}} be scrambling, gambling</p>
<p>Up in restaurants with mandolins and violins</p>
<p>We just sitting here tryna win, try not to sin</p>
<p>High off {{plant2}} and lots of gin</p>
<p>So much smoke need oxygen, steadily counting them Benjamins</p>
<p>{{noun}} you should too, if you knew what this game'll do to you</p>
<p>Been in this {{noun2}} since '92, look at all the {{noun3}} I been through!</p>
</div>
