<div ng-controller="formController">
  <h2>Fill in the blanks!</h2>

  <h3>Plant</h3>
  <input type="text" ng-model="plant" />

  <h3>Dry Substance</h3>
  <input type="text" ng-model="drysub" />

  <h3>Adjective</h3>
  <input type="text" ng-model="adjective" />

  <h3>Noun, Plural</h3>
  <input type="text" ng-model="pluralnoun" />

  <h3>Noun, Plural</h3>
  <input type="text" ng-model="pluralnoun2" />

  <h3>Plant</h3>
  <input type="text" ng-model="plant2" />

  <h3>Noun</h3>
  <input type="text" ng-model="noun" />

  <h3>Noun</h3>
  <input type="text" ng-model="noun2" />

  <h3>Noun</h3>
  <input type="text" ng-model="noun3" />

  <button type="button" ng-click="">View SFW Rap Lyrics</button>

</div>
